<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>404</h1>

        <br><br><br>
        <a href="/" style="text-decoration: none;"><h3>HOME</h3></a>
    </center>

</body>
</html>