<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(error){%>
<h3><%= typeof message == "undefind" ? '':message %></h3>
        <% }else {%>
    <h3>please Contact E-club President To Verfiy Your Account <%= typeof message == "undefind" ? '':message%> </h3>
    <% }%>
    <center><a href="/api/admin/login"><button>Login</button></a></center><a></a>
</body>
</html>