<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Our Team</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://kit.fontawesome.com/baec0ddc1f.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="css\team.css">
    <link rel="shortcut icon" type="img/png" href="asset\logos\logo_only.png">
</head>
<body>
	<header id= "header">
		<a href="/" class="logo">E-Club</a>
		<ul>
			<li><a href="/"  onclick="toggle()">HOME</a></li>
			<li><a href="/#about" onclick="toggle()">About</a></li>
			<li><a href="/#events" onclick="toggle()">Events</a></li>
			<li><a href="/imagegallery" onclick="toggle()">Gallery</a></li>
			<li><a href="/#portfolio" onclick="toggle()">Portfolio</a></li>
			<li><a href="/team" class="active"  onclick="toggle()">Team</a></li>
			<li><a href="/#contact" onclick="toggle()">Contact Us</a></li>
		</ul>
		<div class="toggle" onclick="toggle()"></div>
	</header>
    
    <div class= "main-container">
    	<div class="heading">
    		<h1 style="padding-top: 10px">Our Team</h1>
    	</div>
    	<div class="sub-container">
    		<div class="members">
    			<img src="asset\team\gaurav.jpeg" style="width:200px;height:200px;">
    			<div class="name">Gaurav Sodhani</div>
    			<div class="post">President</div>
    			<div class="social-media">
    				<a href="https://www.linkedin.com/in/gaurav-sodhani-098409182/"><i class="fab fa-linkedin" style="font-size:25px;"></i></a>
    			</div>
    		</div>

    		<div class="members">
    			<img src="asset\team\jahnavi.jpg" style="width:200px;height:200px;">
    			<div class="name">M. Jahnavi</div>
    			<div class="post">Vice-President</div>
    			<div class="social-media">
    				<a href="https://www.linkedin.com/in/jahnavi-mudunuru-616329113"><i class="fab fa-linkedin" style="font-size:25px;"></i></a>
    			</div>
    		</div>

    		<div class="members">
    			<img src="asset\team\Vaibhav.jpg" style="width:200px;height:200px;">
    			<div class="name">Vaibhav Kaushik</div>
    			<div class="post">Chai-Chats</div>
    			<div class="social-media">
    				<a href="https://www.linkedin.com/in/vaibhav-kaushik-a5473b144"><i class="fab fa-linkedin" style="font-size:25px;"></i></a>
    			</div>
    		</div>

    		<div class="members">
    			<img src="asset\team\kanchana.jpg" style="width:200px;height:200px;">
    			<div class="name">Kanchana Mala</div>
    			<div class="post">Chai-Chats</div>
    			<div class="social-media">
    				<a href="https://www.linkedin.com/in/b-kanchana-mala-belagam-75554b1a5/"><i class="fab fa-linkedin" style="font-size:25px;"></i></a>
    			</div>
    		</div>

    		<div class="members">
    			<img src="asset\team\bharat.jpg" style="width:200px;height:200px;">
    			<div class="name">Bharat Ummadi</div>
    			<div class="post">Executive SmartIDEA</div>
    			<div class="social-media">
    				<a href="https://www.linkedin.com/in/bharat-ummadi-894830171/"><i class="fab fa-linkedin" style="font-size:25px;"></i></a>
    			</div>
    		</div>

    		<div class="members">
    			<img src="asset\team\Nikhila.jpg" style="width:200px;height:200px;">
    			<div class="name">Nikhila Reddy</div>
    			<div class="post">WISE</div>
    			<div class="social-media">
    				<a href=""><i class="fab fa-linkedin" style="font-size:25px;"></i></a>
    			</div>
    		</div>

    		<div class="members">
    			<img src="asset\team\sravani.jpg" style="width:200px;height:200px;">
    			<div class="name">S.Sravani</div>
    			<div class="post">MySOIL</div>
    			<div class="social-media">
    				<a href="https://www.linkedin.com/in/sravani-suvvari-5225451a5"><i class="fab fa-linkedin" style="font-size:25px;"></i></a>
    			</div>
    		</div>

    		<div class="members">
    			<img src="asset\team\meghana.jpg" style="width:200px;height:200px;">
    			<div class="name">Meghana Chada</div>
    			<div class="post">FUEL</div>
    			<div class="social-media">
    				<a href="https://www.linkedin.com/in/meghana-chada-a935a7181"><i class="fab fa-linkedin" style="font-size:25px;"></i></a>
    			</div>
    		</div>

    		<div class="members">
    			<img src="asset\team\yamini.jpg" style="width:200px;height:200px;">
    			<div class="name">Yamini Muvvala</div>
    			<div class="post">Speaker Series</div>
    			<div class="social-media">
    				<a href="https://www.linkedin.com/in/yamini-muvvala-32081b1a0"><i class="fab fa-linkedin" style="font-size:25px;"></i></a>
    			</div>
    		</div>

    		<div class="members">
    			<img src="asset\team\aswin.jpg" style="width:200px;height:200px;">
    			<div class="name">Aswin Sai</div>
    			<div class="post">Speaker Series</div>
    			<div class="social-media">
    				<a href="https://www.linkedin.com/in/aswinsai/"><i class="fab fa-linkedin" style="font-size:25px;"></i></a>
    			</div>
    		</div>

    		<div class="members">
    			<img src="asset\team\Lishaan.jpg" style="width:200px;height:200px;">
    			<div class="name">Lishaan Parinkala</div>
    			<div class="post">Marketing & Publicity</div>
    			<div class="social-media">
    				<a href="https://www.linkedin.com/in/lishaanparinkala/"><i class="fab fa-linkedin" style="font-size:25px;"></i></a>
    			</div>
    		</div>

    		<div class="members">
    			<img src="asset\team\shoubikh.jpg" style="width:200px;height:200px;">
    			<div class="name">Shoubikh Sadhu</div>
    			<div class="post">Creative Design Lead</div>
    			<div class="social-media">
    				<a href="https://www.linkedin.com/in/shoubhik-sadhu-07ab81184/"><i class="fab fa-linkedin" style="font-size:25px;"></i></a>
    			</div>
    		</div>

    		<div class="members">
    			<img src="asset\team\ashish.jpg" style="width:200px;height:200px;">
    			<div class="name">P.V.S. Ashish</div>
    			<div class="post">Creative Design Vice-Lead</div>
    			<div class="social-media">
    				<a href="https://www.linkedin.com/in/p-v-s-ashish-kumar-6aa5b2171/"><i class="fab fa-linkedin" style="font-size:25px;"></i></a>
    			</div>
    		</div>

    		<div class="members">
    			<img src="asset\team\animesh.jpg" style="width:200px;height:200px;">
    			<div class="name">Animesh Rath</div>
    			<div class="post">Event Management</div>
    			<div class="social-media">
    				<a href="https://www.linkedin.com/in/rath-animesh"><i class="fab fa-linkedin" style="font-size:25px;"></i></a>
    			</div>
    		</div>

    		<div class="members">
    			<img src="asset\team\sandeep.jpg" style="width:200px;height:200px;">
    			<div class="name">Sandeep Dokuparthi</div>
    			<div class="post">Event Management</div>
    			<div class="social-media">
    				<a href="https://www.linkedin.com/in/sandeep-dokuparthi-1b595952/"><i class="fab fa-linkedin" style="font-size:25px;"></i></a>
    			</div>
    		</div>

    		<div class="members">
    			<img src="asset\team\Kavya.jpg" style="width:200px;height:200px;">
    			<div class="name">Sri Kavya</div>
    			<div class="post">Workshops & Bootcamp</div>
    			<div class="social-media">
    				<a href="https://www.linkedin.com/in/sri-kavya-pydimarri-a680b1165"><i class="fab fa-linkedin" style="font-size:25px;"></i></a>
    			</div>
    		</div>

    		<div class="members">
    			<img src="asset\team\Virinchi.jpg" style="width:200px;height:200px;">
    			<div class="name">G.V.K.R.M.Virinchi</div>
    			<div class="post">Workshops & Bootcamp</div>
    			<div class="social-media">
    				<a href="https://www.linkedin.com/in/virinchi-gudimetla-b48a97181/"><i class="fab fa-linkedin" style="font-size:25px;"></i></a>
    			</div>
    		</div>
    	</div>
    </div>

    <script type="text/javascript">
    	function toggle(){
    		var header = document.getElementById("header")
    		header.classList.toggle('active')
    	}
    </script>

    <footer class="footer-distributed">
 
        <div class="footer-left">
 
        <!-- <h3>E-Club</h3> -->
 
        <p class="footer-company-name">E-Club &copy; 2019-2020</p>

        </div>
 
        <div class="footer-center">
 
        <div>
        <i class="fa fa-map-marker"></i>
        <p><span>Administration Bhavan</span>
        <span>Gitam University</span> Vizag, India</p>
        </div>
 
        <div>
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:eclubvdc@gmail.com">eclubvdc@gmail.com</a></p>
        </div>
 
        </div>
 
        <div class="footer-right">
 
        <p class="footer-company-about">
        <span>E-Club </span>
    Where passion fuels Potential!&#9889;
        </p>
 
        <div class="footer-icons">
 
        <a href="https://www.instagram.com/eclub_gitamvizag/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UCbbyAivDuq1HqivlQZp8evw"><i class="fab fa-youtube"></i></a>
        <a href=""><i class="fab fa-linkedin-in"></i></a>
        
 
        </div>
 
        </div>
 
        </footer>

</body>
</html>